<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Working Academy</title>
	<link rel="shortcut icon" href="img/logo.png">
	<link rel="stylesheet" href="/css/estilo.css">
	<link rel="stylesheet" href="/css/carreratec.css">

	<script src="https://kit.fontawesome.com/62ea397d3a.js"></script>
</head>

<body>

	<div class="contenido">

		<header class="head">
			<div class="head-grupo">
				<div class="head-grupo_elementos">
					<img class="elementos-img" src="img/logo.png" alt="Imagen no encontrada">


					<ul class="elementos-ul">
						<li><a href="/index" class="nav-li">Inicio</a></li>
						<li><a href="/CarreraTec" class="nav-li">Carreras técnicas</a></li>
						<li><a href="/CarreraUni" class="nav-li">Carreras universitarias</a></li>
					</ul>

					<form class="elementos-buscador" method="post" onsubmit="event.preventDefault()">
						<input type="search" class="input-buscar" onsearch="borrar()" placeholder="Buscar..."
							aria-label="Buscar">
					</form>

					<div class="elementos-opciones_final">
						<button type="button" class="btn-iniciar" onclick="location.href='index/login'">Iniciar
							sesión</button>
						<button type="button" class="btn-registrar"
							onclick="location.href='registro'">Registrarse</button>
					</div>

					<div class="elementos-f">
						<a target="_blank" class="usuario-img">
							<img class="img-user" src="img/user.png" alt="Imagen no encontrada">
							<i class="fas fa-caret-down"></i>
						</a>
						<ul class="usuario-item-none">
							<li><a href="#/" class="cerrar">Cerrar Sesión</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<main class="cuerpo">

			<article>
				<div class="articulo_1">
					<h2 class="sobre">Sobre la página</h2>

					<p>Se ha desarrollado con la finalidad de poder brindar trabajos a las personas que se dedican,
						profesionalmente, al campo de la tecnología, además, también permite a las empresas buscar
						posibles trabajadores que se comprometan a ofrecer su valioso tiempo para aportar nuevas
						ideas y mejoras en diversos aspectos, es decir, el beneficio es para todos, tanto para las
						personas que desean tener la oportunidad de conseguir un nuevo empleo o realizar sus
						prácticas pre profesionales, como para las empresas que necesitan más trabajadores.</p>

					<div class="articulo_1-img">
						<img src="img/img1.png" class="articulo_1-imagen_1" alt="Imagen no encontrada">
						<img src="img/img2.png" class="articulo_1-imagen_2" alt="Imagen no encontrada">
					</div>

					<h2 class="nuestro">Nuestros objetivos</h2>


					<div class="nuestro-div">
						<div class="nuestro_div-li">
							<li>Nuestro objetivo principal es aumentar la tasa de empleo referente al campo de la
								tecnología y ayudar a
								nuestros registrados a encontrar empleo.</li>
							<li>Lograr que nuestros usuarios logren conseguir un empleo de manera estable y que las
								empresas aumenten su productividad.</li>
							<li>Ser una de las mejores páginas para encontrar empleos.</li>
							<li id="li-ultimo">Que los usuarios tengan la facilidad de encontrar empleos, realizando
								pasos sencillos.</li>
						</div>

						<div class="nuestro-img">
							<img src="img/img3.png" alt="Imagen no encontrada">
						</div>

					</div>

					<h2 class="funcionamiento">El funcionamiento de la página</h2>

					<p>El usuario ingresa a nuestra página, luego busca las carreras de acuerdo con su área de trabajo,
						para ello tendrá la facilidad de hacerlo a través del buscador. Al encontrar la carrera, tendrá
						la oportunidad de enviar su currículo para que las empresas lo puedan revisar y si toda va bien,
						se procede a contactar al solicitante, pero antes de ello, tiene que crear o ingresar con su
						cuenta de tipo usuario.</p>


				</div>
			</article>

			<div class="video_1">
				<iframe src="https://www.youtube.com/embed/eAYdXIrCl6E" title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>

			</div>

		</main>


		<footer>
			<div class="pie_Pagina_Centrado">

				<div class="pie_Pagina">
					<div class="seccion">
						<div class="s_Ayuda">
							<h2>Redes sociales</h2>

							<div class="iconos_redes">
								<a target="_blank" class="facebook" href="https://es-la.facebook.com/"><i
										class="fab fa-facebook-square" aria-hidden="true"></i></a>
								<a target="_blank" class="youtube" href="https://www.youtube.com/"><i
										class="fab fa-youtube" aria-hidden="true"></i></a>
								<a target="_blank" class="twitter" href="https://twitter.com/?lang=es"><i
										class="fab fa-twitter" aria-hidden="true"></i></a>
							</div>
						</div>

						<div class="s_Ayuda">
							<h2>Ayuda</h2>
							<p><a target="_blank">Centro de ayuda</a></p>
							<p><a target="_blank">Foro de ayuda</a></p>
						</div>

						<div class="s_Menu">
							<h2>Menu</h2>
							<p><a href="index.html">Inicio</a></p>
							<p><a href="webSite/carrerasTecnicas/carreratec.html">Carreras técnicas</a></p>
							<p><a href="webSite/carrerasUniversitarias/carreraUni.html">Carreras universitarias</a></p>
						</div>

						<div class="s_Legal">
							<h2>Condiciones de servicio</h2>
							<p><a target="_blank">Privacidad</a></p>
							<p><a target="_blank">Política de contenidos</a></p>
						</div>
					</div>
					<hr class="linea" width="100%">
					<div class="s_derechos_autor">
						<p>Copyright © 2023 Cibertec - Todos los derechos reservados</p>
					</div>
				</div>

			</div>

		</footer>


	</div>

</body>
<script>
	window.watsonAssistantChatOptions = {
		integrationID: "597bb1b7-740c-448d-b491-453ddc484fc6", // The ID of this integration.
		region: "au-syd", // The region your integration is hosted in.
		serviceInstanceID: "6ed585e9-3ad2-46ea-9b4e-10b794f51eaf", // The ID of your service instance.
		onLoad: function (instance) {instance.render();}
	};
	setTimeout(function () {
		const t = document.createElement('script');
		t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
		document.head.appendChild(t);
	});
</script>
<script src="js/login.js"></script>
<script src="js/filtroBusqueda.js"></script>

</html>