<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Registro</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="../css/estiloRegistro.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="shortcut icon" href="../img/logo.png">
</head>

<body>
	<div class="contenido">
		<div class="sidenav">
			<div class="text">
				<a href="../index.html"><img class="logo_img" src="../static/img/logo.png"
						alt="Imagen no encontrada"></a>
				<h2>Bienvenido a Working Academy</h2>
			</div>
		</div>


		<section class="seccion_registro">
			<div class="seccion_registro_a">
				<div class="titulo">
					<h2>Registrarse</h2>
				</div>

				<div class="formulario">
					<form id="re" class="formularioRegistrar" action="/registrar" method="post" th:object="${registro}">

						<div class="grupo">
							<label>Nombre</label>
							<input type="text" class="control" id="inputNom" th:field="*{nom_usu}" name="txtNombres"
								placeholder="Ingrese su nombre">
						</div>

						<div class="grupo">
							<label>Apellidos</label>
							<input type="text" class="control" id="inputApe" th:field="*{ape_usu}" name="txtApellidos"
								placeholder="Ingrese sus apellidos">
						</div>

						<div class="grupo">
							<label>DNI</label>
							<input type="text" class="control" name="txtDni" id="inputDni" th:field="*{dni}"
								placeholder="Ingrese su dni">
						</div>

						<div class="grupo">
							<label>Teléfono</label>
							<input type="text" class="control" name="txtTelefono" id="inputTele" th:field="*{telefono}"
								placeholder="Ingrese su número de teléfono">
						</div>

						<div class="grupo">
							<label>Fecha de nacimiento</label>
							<input type="date" class="control" id="inputFech" th:field="*{fecha_nacimiento}"
								name="fecha_nacimiento">
						</div>

						<div class="grupo">
							<label for="inputTipo">Tipo de cuenta</label>
							<select class="control" name="cmbTipoCuenta" id="inputTipo" th:field="*{id_tipo}">
								<option value="-1">-Selecciona-</option>
								<option th:each="tipo : ${lstTipo}" th:value="${tipo.id_tipo}"
									th:text="${tipo.descripcion}"></option>
							</select>
						</div>

						<div class="grupo empresa">
							<label>Nombre de la empresa</label>
							<input type="text" class="control" name="txtNombreEmpr" placeholder="Ingrese el nombre">
						</div>

						<div class="grupo">
							<label>Correo Electrónico</label>
							<input type="text" class="control" id="inputCorreo" th:field="*{correo}"
								name="txtCorreoReg" placeholder="ejemplo@gmail.com">
						</div>

						<div class="grupo">
							<label>Contraseña</label>
							<input type="password" class="control" id="inputContra" th:field="*{clave}"
								name="txtContraseniaReg" placeholder="Ingrese contraseña">
						</div>



						<div class="boton">
							<button type="submit" class="btn btn-primary">Registrar</button>
							<button type="button" onclick="location.href='login'" id="registro">Iniciar
								sesión</button>
						</div>
					</form>
					<div th:class="${clase}" role="alert" th:text="${mensaje}"></div>
				</div>

			</div>
		</section>
	</div>



	</div>

</body>
<script src="../js/login.js"></script>

</html>